* {
    margin: 0;
    
}
:root {
 --color01: rgba(255, 255, 255, 0.507);
}
nav {
    background-color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    color: red;
}
nav > a {
    padding: 3px;
}

nav:hover {
    background-color: transparent;
    color: white;
}

 nav:hover a {
    color:white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
}

nav p > a {
    text-decoration: none;
    padding-left: 10px;
    color:black;
    
    
}

h1 {
    background-color: var(--color01);
    padding: 10px;
    font-size: 18px;
    
}

nav p > a:hover {
    text-decoration: underline;

   
   
}

nav p > a:active{
    color: var(--color01);
}

body {
    background-image: url('img/./tumblr_n5xmvwgCYH1sso6sco1_500.webp');
  
    
    
}

main {
    
    height: 550;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    background-image:url('img/./giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
}

main > p {
    background-color: var(--color01);
}

.texto > p {
    background-color: var(--color01);
}

p {
    padding: 10px;
    text-align: justify;
  
   font-weight: bold;
    
}

abbr {
    text-decoration: none;
}
 
p > a {
    text-decoration: none;
    color: black;
  
    
    
    
}

p >a:hover{
    text-decoration: underline;
   
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

p > a:active{
    color: var(--color01);
}

footer {
    background-color: white;

    border: 2px solid black;
}
    
footer > p {
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

div {
    display: flex;


}

picture{
    background-color: var(--color01);
}

picture > img {
    
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    
}



aside {
    text-align: justify;
    
    padding-right: 10px;
}



